.main-header #header-logo .logo{
	color: darkblue;
}

.content-header-title{
	color: red;
}

.list-user{
	background-color: #b7b7ff;
}

.main-sidebar{
	background-color: #4646ff;
}

.sidebar{
	background-color: #8080ff;
}

.content{
	background-color: #00ffff;
}

.datagrid thead{
	background-color: #00ffff;
}