{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}homepage{% endblock %}

{% block body %}

	<section>
		{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class="container" id="information">
    			<h3>LeagueMaker facilitates the creation of competitions</h3>
    			<ul>
    				<li>The organizer <b>creates his competition online.</b></li>
    				<li>Players <b>register via LeagueMaker</b> for the competition.</li>
    				<li>Generation of an <b>optimized</b> format for the pleasure of all players.</li>
    				<li>Players enter their <b>own results</b>. The organizer moderates if necessary.</li>
    				<li>Ranking and scoreboard are <b>generated on LeagueMaker.</b></li>
    			</ul>
    			<a href="{{ path("fos_user_security_login") }}">
    				<button type="button" class="btn btn-primary btn-lg">Log in to create a competition</button>
    			</a>
			</div>
		{% endif %}
	</section>

    <section id="search">
    	<div class="container">
        	<hr>
    		<div id="imaginary_container">
    			<div class="input-group stylish-input-group">
    				<input type="text" class="form-control" placeholder="Search competition" id="tagSearch">
    				<button type="submit" class="btn btn-success" id="tagSearchButton">Search</button>
    			</div>
    		</div>
    	</div>
    	
		<div class="row create" id="searchResults">
    		<div class="col-sm-12 formComp">
    			<ul>
    			
    			</ul>	
    		</div>
    	</div>
    </section>
    
    <section>
    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        	<div class="container">
        		<hr>
        		<h1>My Competitions</h1>
        		
        		{% block section %}
        		
        			{% include 'Competition/list.html.twig' %}
        		
        		{% endblock %}
        		
        	</div>
    	{% endif %}
    </section>
    
    <main class="container">
    	<hr>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Past competitions</h5>
              <p class="card-text">Display of the last 5 competitions that are over.</p>
    	        {# {% for i in competitions[]|slice(i, 4) %} 
    	        	{% endfor %} #}
            </div>
            <div class="card-footer">
            	<button type="button" class="btn btn-primary btn-sm">Show all</button>            				
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ongoing competitions</h5>
              <p class="card-text">Display of the five ongoing competitions.</p>
            </div>
            <div class="card-footer">
				<button type="button" class="btn btn-primary btn-sm">Show all</button>
            </div>
          </div>
        </div>
    	<hr>
    </main>
    
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
